<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(120, 244, 255)">
    <h1>სარეგისტრაციო გვერდი</h1>
    <form>
      <div>
        <label for="name" style="color: crimson">სახელი</label>
        <input type="სახელი" id="name" placeholder="name" required />

        <label for="last name" style="color: rgb(71, 5, 138)">გვარი</label>
        <input type="გვარი" id="LastName" placeholder="last name" required />
      </div>

      <div>
        <label for="female" style="color: rgb(220, 20, 140)">ქალი</label>
        <input type="radio" id="female" name="gender" placeholder="female" />

        <label for="male" style="color: rgb(167, 0, 33)">კაცი</label>
        <input type="radio" id="male" name="gender" placeholder="male" />

        <label for="minor" style="color: blue">არასრულწლოვანი</label>
        <input type="checkbox" id="minor" placeholder="minor" name="age" />

        <label for="an adult" style="color: darkred">სრულწლოვანი</label>
        <input
          type="checkbox"
          id="an adult"
          placeholder="an adult"
          name="age"
        />
      </div>

      <div>
        <label for="date" style="color: rgb(244, 0, 49)">თარიღი</label>
        <input type="date" id="date" placeholder="date" required />

        <label for="password" style="color: rgb(252, 41, 164)">პაროლი</label>
        <input
          type="password"
          id="password"
          minlength="5"
          maxlength="7"
          placeholder="password"
          required
        />

        <label for="email" style="color: purple">ელფოსტა</label>
        <input type="email" id="email" placeholder="registration" required />

        <label for="number" style="color: rgb(32, 134, 168)">ნომერი</label>
        <input type="number" id="number" placeholder="number" required />

        <label for="submit" style="color: black">დადასტურება</label>
        <input type="submit" id="submit" />
      </div>
      <img src="./download.png" alt="good luck" />
    </form>
  </body>
</html>
